# Папка node_modules, так как она генерируется автоматически
node_modules/

# Файлы, сгенерированные Visual Studio Code
.vscode/

# Логи и временные файлы
*.log
.DS_Store
Thumbs.db

# Файлы конфигурации VSCode
.settings.json

# Файлы npm
.npmrc
package-lock.json

# Файлы .env, если используются для конфигурирования среды
.env

# Другие специфичные для проекта файлы или папки
# (добавляй сюда свои исключения, если нужно)